In [1]:
#Testing

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

### Read dataset

In [3]:
df = pd.read_csv('BTC-USD.csv')

### Visualizing firt row of the dataset

In [4]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-04-02,28462.845703,28518.958984,27884.087891,28199.308594,28199.308594,12284641999
1,2023-04-03,28183.080078,28475.623047,27276.720703,27790.220703,27790.220703,19556501327
2,2023-04-04,27795.273438,28433.742188,27681.304688,28168.089844,28168.089844,15284538859
3,2023-04-05,28169.726563,28739.238281,27843.763672,28177.984375,28177.984375,17052315986
4,2023-04-06,28175.226563,28178.384766,27738.759766,28044.140625,28044.140625,13837809380

### Data information

The dataset has 367 rows and 7 columns in which 5 has been defined as a float64, 1 feature as an int64 (Volume) and 1 as an object (Date). 

There is no missing values in any columns in the dataset.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       367 non-null    object
 1   Open       367 non-null    float64
 2   High       367 non-null    float64
 3   Low        367 non-null    float64
 4   Close      367 non-null    float64
 5   Adj Close  367 non-null    float64
 6   Volume     367 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.2+ KB

### Transforming Volume feature into float64 to make the dataset uniform

In [10]:
df['Volume'] = df['Volume'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       367 non-null    object
 1   Open       367 non-null    float64
 2   High       367 non-null    float64
 3   Low        367 non-null    float64
 4   Close      367 non-null    float64
 5   Adj Close  367 non-null    float64
 6   Volume     367 non-null    float64
dtypes: float64(6), object(1)
memory usage: 20.2+ KB

### Statistical summary 

All the columns have the count of 367

In the column Open the mean represents the value of 36566 while the median is 30315 which has a significant distance between them. The Close feature has similar values, it has mean of 36668 and median of 30318. 
The minimum value in the features vary from 24797 to 25121, whereas maximum values are 71334 to 73750.

In [11]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,367.000000,367.000000,367.000000,367.000000,367.000000,3.670000e+02
mean,36566.133366,37245.166175,35951.784331,36668.765678,36668.765678,2.054025e+10
std,12297.066565,12727.681790,11862.108972,12383.550524,12383.550524,1.346815e+10
min,25121.673828,25735.308594,24797.167969,25124.675781,25124.675781,5.331173e+09
25%,27552.037110,27984.726562,27100.661133,27557.231445,27557.231445,1.216358e+10
50%,30315.976563,30636.029297,29966.386719,30318.496094,30318.496094,1.649319e+10
75%,42649.451172,43357.119140,41852.763672,42700.660157,42700.660157,2.387294e+10
max,73079.375000,73750.070313,71334.093750,73083.500000,73083.500000,1.028029e+11